<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<footer class="footer-container">
  <div class="footer-navbar-new">
    <div class="row">
    <div class="column">
      <ul class="footer-navbar-list">
        <br><br>
         <li class="footer-list-item footer-navbar-li"><a href="/jkan/" class="footer-link">Home</a></li>
         <li class="footer-list-item footer-navbar-li"><a href="/jkan/datasets/"class="footer-link">Datasets</a></li>
         <li class="footer-list-item footer-navbar-li"><a href="/jkan/organizations/" class="footer-link">Organizations</a></li>
         <li class="footer-list-item footer-navbar-li"><a href="/jkan/mobilesharps" class="footer-link">Mobile Sharps Example</a></li>
         <li class="footer-list-item footer-navbar-li"><a href="/jkan/missing" class="footer-link">Missing Data Sets</a></li><br>
      </ul>
    </div>
    <div class="column">
      <a href="/jkan/">
        <img class="footer-img" src="/jkan/img/design/logo_white.png">
      </a>
    </div>
    </div>
  </div>

    <hr class="footer-hr">
    <div class="col-md-12 footer-social">

      <div class="mb-5 flex-center footer-icon-bar footer-bar">

        <!-- Facebook -->
        <a href="https://facebook.com" class="footer-icon">
          <i size="40" class="fa fa-facebook-f fa-3x"> </i>
        </a>
        <!-- Twitter -->
        <a hfref="https://twitter.com" class="footer-icon">
          <i class="fa fa-twitter fa-3x"> </i>
        </a>
        <!--Linkedin -->
        <a href="https://linkedin.com" class="footer-icon">
          <i class="fa fa-linkedin fa-3x"> </i>
        </a>
        <!--Instagram-->
        <a hfref="https://instagram.com" class="footer-icon">
          <i class="fa fa-instagram fa-3x"> </i>
        </a>
        <!-- Github-->
        <a hfref="https://github.com/andrew-friedman/jkan" class="footer-icon">
          <i class="fa fa-github fa-3x"> </i>
        </a>

      </div>
      <div class="footer-list-div">
        <ul class="footer-list">
           <li class="footer-list-item"><a class="footer-link">Privacy Policy</a></li>
           <li class="footer-list-item"><a class="footer-link">Terms of Use</a></li>
           <li class="footer-list-item"><a class="footer-link">Contact</a></li>
        </ul>
      </div>

    </div>

</footer>
